---
layout: default
---

<article class="post-content">
    <h2 style="text-align: center">{{ page.title }}</h2>
    <p><i>Posted on {{ page.date | date: "%B %d, %Y" }} by <b>Foysal Mahmud</b></i></p>
    <div>{{ content }}</div>
</article>

<a href="/blog.html" class="button"><i class="fa-solid fa-hand-point-left"></i> <b>Back to Blog</b></a>

<!-- Copy Link Button -->
<button id="copyLinkButton">
   <i class="fa-solid fa-copy"></i> <b>Copy Link</b>
</button>

<!-- Script to Copy Link -->
<script>
    document.getElementById('copyLinkButton').addEventListener('click', function() {
        var dummy = document.createElement('input'),
            text = window.location.href;

        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);

        alert('Link copied to clipboard!');
    });
</script>

<!-- Social Share Buttons -->
<p>Share on</p>
<hr>
<div class="share-buttons">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank">
        <i class="fa-brands fa-facebook"></i> Facebook
    </a>
    <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title }}" target="_blank">
       <i class="fa-brands fa-square-x-twitter"></i> Twitter
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title }}" target="_blank">
       <i class="fa-brands fa-linkedin"></i> LinkedIn
    </a>
</div>

<!-- CSS for styling -->
<link rel="stylesheet" href="/assets/css/style.css">
